#directions {
    .date{
        color: red;
    }
    .direction{
        margin-top: 50px;
        .title{
            font-weight: 700;
        }
        ol{
            list-style-type: cjk-ideographic;
        }
        .reason {
            margin-top: 35px;
            display: flex;
            @media (max-width: 575.98px) {
                flex-wrap: wrap;
            }
            h5 {
                flex: 0 0 150px;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                @media (max-width: 575.98px) {
                    flex: 1 0 100%;
                }
            }
            p {
                font-size: 14px;
                line-height: 21px;
            }
        }
        .number {
            font-size: 18px;
            line-height: 36px;
            display: flex;
            align-items: center;
            &:after {
                content: "";
                border: 1px solid;
                flex: 1;
                margin-left: 15px;
                margin-right: -15px;
                @media (max-width: 575.98px) {
                    margin-right: 0px;
                }
            }
        }
    }
    
}