#footer {
    $bg: black;
    $word: white;
    padding: 150px 0 100px;
    background: $bg;
    color: $word;
    a {
        color: $word;
        margin: 5px;
        &:hover {
            text-decoration: none;
        }
    }
    .footer-logo {
        width: 100%;
        max-width: 150px;
        margin-bottom: 50px;
    }
    .footer-text {
        margin-bottom: 50px;
        p{
            margin-bottom: 0px;
            line-height: 28px;
        }
    }
    .ih-Logo-mark {
        fill: black;
    }
    .ih-Logo-svg {
        background: white;
        width: 42px;
        margin-top: -27px;
        padding: 7px 5px 5px 7px;
        border-radius: 6px;
    }
}