.home-hero {
    width: 100%;
    height: 100vh;
    background: url(/assets/images/home-bg.png);
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 768px) {
        background-position: center;
    }
    .container {
        position: absolute;
        bottom: 3vw;
        left: 3vw;
        @media (max-width: 575.98px) {
            left: 0px;
            bottom: 0px;
        }
        .row {
            .home-content {
                background: #000;
                color: white;
                padding: 3vw;
                a {
                    color: #ffc5cf;
                    text-decoration: none;
                    padding-bottom: 5px;
                    border-bottom: solid #000 2px;
                    border: 5px solid #ffc5cf;
                    border-radius: 500px;
                    padding: 10px 20px;
                }
                @media (max-width: 575.98px) {
                    width: 100%;
                }
            }
        }
    }
}

h1 {
    font-size: 42px;
    line-height: 72px;
    letter-spacing: 0.025em;
    @media (max-width: 575.98px) {
        font-size: 21px;
        line-height: 42px;
        letter-spacing: 0.025em;
    }
}

h2 {
    font-size: 32px;
    line-height: 72px;
    letter-spacing: 0.075em;
    @media (max-width: 575.98px) {
        font-size: 21px;
        line-height: 42px;
        letter-spacing: 0.075em;
    }
}

h3 {
    font-size: 21px;
    line-height: 48px;
    letter-spacing: 0.025em;
    font-weight: 700;
    @media (max-width: 575.98px) {
        font-size: 18px;
        line-height: 36px;
    }
}

h4 {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.04em;
    font-weight: 400;
    @media (max-width: 575.98px) {
        font-size: 16px;
        line-height: 36px;
    }
}

p {
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.025em;
    font-weight: 200;
    text-align: justify;
    @media (max-width: 575.98px) {
        font-size: 14px;
        line-height: 32px;
    }
}

.section {
    padding-top: 80px;
    @media (max-width: 768px) {
        padding-top: 80px;
    }
    .inter-section {
        margin-bottom: 80px;
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }
    &.section-end {
        padding-bottom: 80px;
        @media (max-width: 768px) {
            padding-bottom: 80px;
        }
    }
}