.nav-padding {
    margin-top: 56px;
    width: 100%;
  }
  
  #nav.navbar {
    height: 70px;
    padding-left: 45px;
    padding-right: 45px;
  }
  
  .navbar-brand {
    color: black;
  }
  
  .nav-link {
    font-size: 15px;
    letter-spacing: 0.075em;
    padding: 23px 5px;
    margin: 0px 10px;
    height: 70px;
    color: black !important;
  }
  
  #nav2 {
    &.navbar-light .navbar-toggler {
      border-color: #00000000;
      padding-right: 0px;
      padding-left: 0px;
    }
    .nav-link {
      font-size: 21px;
      color: black;
      flex: 1;
      border-bottom: solid 1px black;
      display: flex;
      &.bold {
        border-bottom: solid 5px black;
      }
      &.light {
        border-bottom: solid 3px black;
      }
    }
    ul.navbar-nav {
      height: calc(100vh - 56px);
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
    }
    .nav-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }