#workshop-tools {
    .section-tools {
        .tool {
            background: rgb(246, 252, 255);
            padding: 60px 30px;
            h2 {
                font-size: 27px;
                color: rgb(89, 188, 251);
            }
            margin-bottom: 60px;
        }
        .tool-2column {
            p {
                max-width: 50%;
                display: inline-block;
                padding-right: 30px;
            }
            img{
                max-width: 49%;
                vertical-align: initial;
            }
            @media (max-width: 767.98px) {
                p {
                    max-width: 100%;
                }
                img{
                    max-width: 100%;
                }
            }
        }
    }
}